python-dotenv
streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-pinecone
langchain-upstage
boto3
wasabi
tiktoken
faiss-cpu
pypdf
pydantic
pinecone-client
pinecone-text
matplotlib
markdownify
